#customrequest-panel-configs-grid {
  margin-top: 15px;
}

.action-buttons {
  text-align: center;
}

.action-buttons li {
  display: inline-block;
  line-height: .7;
  margin-right: 5px;
  font-size: 1.1em;
}

.treehillstudio_about {
  cursor: pointer;
  height: 40px;
  opacity: 0.25;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}

.treehillstudio_about:hover {
  opacity: 1;
}

.treehillstudio_about .x-panel-body {
  text-align: right;
}

.treehillstudio_window a {
  color: #849125;
  text-decoration: none;
}

.treehillstudio_window a:hover {
  color: #4d5415;
}

.home-panel.debug {
  background: -webkit-gradient(linear, left bottom, right top, from(transparent), color-stop(transparent), color-stop(transparent), to(#fff));
  background: linear-gradient(to top right, transparent, transparent, transparent, #fff);
}

.ribbon {
  height: 180px;
  overflow: hidden;
  position: absolute;
  width: 180px;
  z-index: 10;
}

.ribbon:before, .ribbon:after {
  border: 5px solid #a20000;
  content: '';
  display: block;
  position: absolute;
  z-index: -1;
}

.ribbon.top-right {
  right: -10px;
  top: -10px;
}

.ribbon.top-right:before, .ribbon.top-right:after {
  border-right-color: transparent;
  border-top-color: transparent;
}

.ribbon.top-right:before {
  left: 0;
  top: 0;
}

.ribbon.top-right:after {
  bottom: 0;
  right: 0;
}

.ribbon.top-right span {
  left: -46px;
  top: 46px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.ribbon span {
  background-color: #be0000;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  display: block;
  font: 700 18px/1 'Lato', sans-serif;
  padding: 15px 0;
  position: absolute;
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  width: 300px;
}
